.root {
  --m3e-loading-size: 56px;
  --m3e-loading-scale: calc(var(--m3e-loading-size) / 48);
  display: inline-flex;
  height: var(--m3e-loading-size);
  width: var(--m3e-loading-size);
  flex: 0 0 var(--m3e-loading-size);
  align-items: center;
  justify-content: center;
}

.root :global(m3e-loading-indicator) {
  transform: scale(var(--m3e-loading-scale));
  transform-origin: center;
}
